*{
    box-sizing: border-box;
}

@keyframes backgroundColorAnimation{
    from{
        background-color:red;
        
    }
    to{
        background-color: blue;
        
    }

}

@keyframes opacityAnimation{
    from{
        opacity: 0.2;
    }

    to{
        opacity: 0.9;
    }
}

div{
    width: 100px;
    height: 100px;
    margin: 40px 30px;
    border: 1px solid #333;

    background-color: #ccc;

    animation-name: backgroundColorAnimation;
    animation-duration: 5s;
    animation-delay: 1s;

}

